#toolbar {
  height: 4em;
  background-color: #1ebac3;
  position: relative;
}

#toolbar-image-logo {
  position: absolute;
  left: 3em;
}

#toolbar-image-home {
  position: absolute;
  right: 3em;
}

#toolbar img {
  height: 4em;
}

.main-login {
  text-align: center;
  background-color: #1ebac3;
}

.main-login md-button {
  display: inline-block;
}
