#toolbar {
  height: 4em;
  background-color: #1ebac3;
  position: relative;
}

.container {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

#toolbar img {
  height: 4em;
}

.main-login {
  text-align: center;
  background-color: #1ebac3;
}

.main-login md-button {
  display: inline-block;
}
