<h2>Add Job</h2>
<form name="addProject" ng-submit="adding()">
  <md-input-container>
    <label>Project Title</label>
    <input name="title" ng-model="project.title" required md-maxlength="20" minlength="4">
    <div ng-messages="addProject.title.$error">
      <div ng-message="required">This is required!</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>Project Description</label>
    <textarea name="description" ng-model="project.description" required md-maxlength="300"></textarea>
    <div ng-messages="addProject.description.$error">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
    </div>
  </md-input-container>
  <input type="submit" value="Submit">
</form>
