<h1 class="pp-title">GET INVOLVED</h1>

<p class="pp-slogan">Help us make the world a better place. Use this site to navigate the wide array of projects and volunteer opportunities we have here at GK.</p>

<div class="pp-add-project" ng-if="main.asAdministrator === true">
  <md-button ng-click="addProject()">Add Project</md-button>
</div>

<div class="pp-sorter">
  <div class="pp-mySelectWrapper">
    <select class="pp-mySelect" ng-model="main.sort_criteria" ng-change="reorder_projects()">
      <option value="earliest_start_date_first">Earliest Start Date First</option>
      <option value="lowest_commitment_first">Lowest Commitment First</option>
    </select>
  </div>
  <span class="pp-sorter-label">
    SORT BY:
  </span>
</div>

<div class="pp-projects">
  
  <div class="pp-project" ng-repeat="project in main.projects">
    <img ng-show="main.asAdministrator === true" class="pp-delete" ng-src = "images/delete_button.ico" ng-click="delete_project(project._id)">
    <img class="pp-project-image" ng-src="{{project.image_url}}" ng-click="goto_project(project._id)">
    <div class="pp-orange"></div>
    <div class="pp-project-title"><h4>{{project.title}}</h4></div>
    <div class="pp-project-title"><p>{{project._location}}</p></div>
  </div>

  <!--ng-src="images/{{project.image}}"-->
</div>
