.project {
  border: 1px solid grey;
  width: 18em;
  height: 21em;
  border-radius: 6px;
  margin: 6px;
  display: inline-block;
  position: relative;
}

.projects {
  border-top: 4px solid lightgrey;
  margin: 8px;
}

.projects p {
  margin-left: 4px;
}

.projects h2 {
  margin-left: 4px;
}

.project img {
  top: 25px;
  right: 15px;
  position: absolute;
  width: 18px;
  height: 18px;
}

.project img:hover {
  cursor: pointer;
}
