<div class="centered" id="project-view-container">
<!--  <h2 class="title">{{project.title}}</h2>
  <h3 class="project-description slogan">{{project.description}}</h3>
  <h3 class="project-description slogan">Number of Volunteers needed: {{project.numVolunteers}}</h3>
  <form ng-submit="sendInterest()" class="centered">
    <md-input-container>
      <label>Email</label>
      <input type="text" ng-model="interest.email" required>
    </md-input-container>
    <br/>
    <md-input-container>
      <label>Name</label>
      <input type="text" ng-model="interest.name" required>
    </md-input-container>
    <br/>
    <input type="submit"></input>
  </form>-->

  <h2 class="title">{{project.title.toUpperCase()}}</h2>
  <div class="flexbox-container">
    <div class="flexbox-item" id="flexbox-item1">
      <img class="pt-project-image" ng-src="images/{{project.image}}">
      <p class="project-description">{{project.description}}</p>
      <div class="pt-orange"></div>
      <div class="centered">
      <!--<div id="project-field-names">
        <p class="project-field">Date:</p>
        <p class="project-field">Time:</p>
        <p class="project-field">Commitment:</p>
        <p class="project-field">Location:</p>
        <p class="project-field">Required Skills:</p>
        <p class="project-field">Number of Volunteers Needed:</p>
        <p class="project-field">Number of Volunteers Signed Up:</p>
      </div>
      <div id="project-field-values">
        <p class="project-field-">{{project.date}}</p>
        <p class="project-field-">{{project.startTime}} - {{project.endTime}}</p>
        <p class="project-field-">{{project.commitment}} hours</p>
        <p class="project-field-">{{project._location}}</p>
        <p class="project-field-">{{project.skills}}</p>
        <p class="project-field-">{{project.numVolunteers}}</p>
        <p class="project-field-">{{project.numVolunteersSignedUp}}</p>
      </div>-->
        <table class="project-info-table">
          <tr>
            <th class="project-info-th">Date:</th>
            <td class="project-info-td">{{project.date}}</td>
          </tr>

          <!--<tr>
            <th class="project-info-th">Time:</th>
            <td class="project-info-td">{{project.startTime}} - {{project.endTime}}</td>
          </tr>-->

          <tr>
            <th class="project-info-th">Commitment:</th>
            <td class="project-info-td">{{project.commitment}}</td>
          </tr>

          <tr>
            <th class="project-info-th">Location:</th>
            <td class="project-info-td">{{project._location}}</td>
          </tr>

          <tr>
            <th class="project-info-th">Required Skills:</th>
            <td class="project-info-td">{{project.skills}}</td>
          </tr>

          <tr>
            <th class="project-info-th">Volunteers Needed:</th>
            <td class="project-info-td">{{project.numVolunteers}}</td>
          </tr>

          <tr>
            <th class="project-info-th">Volunteers Signed Up:</th>
            <td class="project-info-td">{{project.numVolunteersSignedUp}}</td>
          </tr>

        </table>

      </div>
    </div>

    <div class="flexbox-item" id="flexbox-item2">
      <div class="form-toolbar">
        <h3 class="volunteer-registration">Volunteer Registration</h3>
      </div>
      <md-content>
        <form ng-submit="sendInterest()" class="centered">
          <input type="text" ng-model="interest.name" required placeholder="Name">
          <input type="text" ng-model="interest.email" required placeholder="Email">

          <!--<select id="country" name="country">
          <option value="philippines">Philippines</option>
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>-->

          <select ng-model="interest.country" ng-options="country for country in countries">
          </select>

          <textarea class="volunteer-essay" required placeholder="Why do you want to volunteer?&#10;(100 words or less)"></textarea>
          </select>
          <input type="submit"></input>
        </form>
      </md-content>
    </div>
  </div>

  <table class="volunteer-info-table" ng-show="main.asAdministrator === true">
    <tr>
      <th class="volunteer-info-th">Name</th>
      <th class="volunteer-info-th">Email</th>
      <th class="volunteer-info-th">Country</th>
    </tr>

    <tr ng-repeat="volunteer in project.volunteers">
      <td class="volunteer-info-td">{{volunteer.name}}</td>
      <td class="volunteer-info-td">{{volunteer.email}}</td>
      <td class="volunteer-info-td">{{volunteer.country}}</td>
    </tr>

  </table>

  
</div>