#project-view-container {
  margin: 1em;
  width: 100%;
  position: relative;
}

div{
  font-family: Quicksand;
}

input[type=text], textarea{
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
  height: 200px;
}

select{
  width: 100%;
  padding: 14px 20px;
  font-family: Quicksand;
  margin-top: 8px;
}

input[type=submit]{
  margin-top: 8px;
  font-family: Quicksand;
  width: 100%;
  border-radius: 0.5em;
  background-color: #51b6c0;
  color: white;
  padding: 14px 20px;
  border: none;
}

md-input-container{
  width: 100%;
}

.project-description {
  text-align: center;
  word-wrap: break-word;
}

.thumbnail {
  height: 15px;
}

#project-field-names {
  width: 20%;
  display: inline-block;
  text-align: left;
}

#project-field-values {
  width: 50%;
  display: inline-block;
  text-align: left;
}

.project-field {
  font-weight: 800;
  margin: 4px;
}

.project-field- {
  margin: 5px;
}

.title{
  font-size: 3.5em;
  text-align: center;
  font-style: bold;
  font-weight: 400em;
}

.flexbox-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}

.flexbox-item{
  margin-top: 0em;
  flex-grow: 1;
}

#flexbox-item1{
  width: 60%;
  margin-left: 1em;
  margin-right: 2em;
}

#flexbox-item2{
  width: 40%;
  margin-right: 1em;
}

.volunteer-registration{
  text-align: center;
  font-style: bold;
  font-weight: 400em;
  color: white;
}

.form-toolbar{
  background-color: #ff8c00;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 0.1em;
}

.pt-project-image {
  width: 27em;
  height: 18em;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  border-radius: 15px;
}

.pt-orange {
  width: 27em;
  height: 0.5em;
  background-color: darkorange;
  margin: 6px auto;
}