<div class="centered" id="project-view-container">
  <div class="flexbox-container">
    <div class="flexbox-item" id="flexbox-item1">
      <img class="pt-project-image" ng-src="{{project.image_url}}">
      <h3 class="project-description">{{project.description}}</h3>
      <div class="pt-orange"></div>
      <div class="centered">
        <table class="project-info-table">
          <tr>
            <th class="project-info-th">Start Date:</th>
            <td class="project-info-td">{{project.startDate}}</td>
          </tr>

          <tr>
            <th class="project-info-th">End Date:</th>
            <td class="project-info-td">{{project.endDate}}</td>
          </tr>

          <tr>
            <th class="project-info-th">Desired Commitment (Hours):</th>
            <td class="project-info-td">{{project.commitment}}</td>
          </tr>

          <tr>
            <th class="project-info-th">Location:</th>
            <td class="project-info-td">{{project._location}}</td>
          </tr>

          <tr>
            <th class="project-info-th">Required Skills:</th>
            <td class="project-info-td">{{project.skills}}</td>
          </tr>

          <tr>
            <th class="project-info-th">Volunteers Needed:</th>
            <td class="project-info-td">{{project.numVolunteers}}</td>
          </tr>

        </table>

      </div>
    </div>

    <div class="flexbox-item" id="flexbox-item2">
      <div class="form-toolbar">
        <h3 class="volunteer-registration">Volunteer Registration</h3>
      </div>
      <form name="signupForm" ng-submit="sendInterest()" class="centered">

        <input type="text" ng-model="interest.name" required placeholder="Name">

        <input type="text" ng-model="interest.email" required placeholder="Email">

        <select ng-model="interest.country" required ng-options="country for country in countries">
          <option value="">-- Select your country --</option>
        </select>

        <textarea name="essay" ng-model="interest.essay" required  placeholder="Tell us a bit about yourself! Why do you want to volunteer? (100 words or less)"></textarea>

        <input type="submit"></input>
      </form>
    </div>
  </div>

  <table class="volunteer-info-table" ng-show="main.asAdministrator === true">
    <tr>
      <th class="volunteer-info-th">Name</th>
      <th class="volunteer-info-th">Email</th>
      <th class="volunteer-info-th">Country</th>
    </tr>

    <tr ng-repeat="volunteer in project.volunteers">
      <td class="volunteer-info-td">{{volunteer.name}}</td>
      <td class="volunteer-info-td">{{volunteer.email}}</td>
      <td class="volunteer-info-td">{{volunteer.country}}</td>
    </tr>

  </table>
  
</div>